* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(to bottom left, #4a4e69, #9a8c98);

    display: flex;
    justify-content: center;
    align-items: center;
}

.main_win {
    width: 260px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.start_btn {
    padding: 20px;
    border-radius: 5px;
    background-color: #22223b;

    font-family: 'Lucida Console', Monaco, monospace;
    color: white;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
}

.start_btn:hover {
    cursor: pointer;
}

.join_win {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.join_input {
    outline: none;

    padding: 5px;
    font-family: 'Lucida Console', Monaco, monospace;
    color: #22223b;
    font-weight: bold;
}

.join_btn {
    padding: 20px;
    border-radius: 5px;
    background-color: #f2e9e4;

    font-family: 'Lucida Console', Monaco, monospace;
    color: #22223b;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
}

.join_btn {
    cursor: pointer;
}

.games_results_win {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.game_wins {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5px;

    color: #4a4e69;
    font-family: 'Lucida Console', Monaco, monospace;
    font-weight: bold;

    background-color: #f2e9e4;
    border-radius: 5px;
}

.game_wins_results {
    display: flex;
    flex-direction: row;
    gap: 20px;

    color: #22223b;
}

.table_wrapper {
    height: 200px;
    overflow-y: scroll;
}

.games_table {
    width: 100%;

    border-spacing: 4px;

    background-color: #4a4e69;
    border-radius: 5px;

    color: #f2e9e4;
    font-family: 'Lucida Console', Monaco, monospace;
    text-align: center;
}

th, td {
    border: 2px solid #22223b;

    padding: 5px;
}

.table_wrapper::-webkit-scrollbar {
    width: 4px;               
}
.table_wrapper::-webkit-scrollbar-track {
    background: #22223b;        
}
.table_wrapper::-webkit-scrollbar-thumb {
    background-color: #f2e9e4;
    border-radius: 5px; 
}